<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body>
        <form action="/save" method="post">
            <label for="name">Enter your name :</label><br>
            <input type="text" id="name" name="name" required><br><br>
            <label for="fav_no">Enter your favourite number :</label><br>
            <input type="number" id="fav_no" name="fav_no" required><br> <br>
            <button type="submit">Submit</button>
        </form>
    </body>

</html>
